<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="resources.Listeners"/>
</listeners>
  <test name="Test one">
    <classes>
      <class name="Testscenarios.homepage"/>
    </classes>
  </test> 
   <test name="Test two">
    <classes>
      <class name="Testscenarios.cartpage"/>
    </classes>
  </test>
  
  <!-- Test -->
</suite> <!-- Suite -->
